/**
 * Liste de sélections
 */
.page__liste{
    box-sizing: border-box;
    width: 100%;
    margin:0;
    margin-top:10px;
    padding:0;
}
.page__selecteur{
    box-sizing: border-box;
    width: 100%;
    padding:0;
    margin:0;
    margin-bottom: 10px;
    display:grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 50px auto;
}
.page__selecteur__deux_lignes{
    grid-template-rows: 25px 25px auto;
}
/* Contenu du sélecteur */
.page__selecteur__nom{
    box-sizing: border-box;
    display: block;
    grid-column: 1;
    width: 100%;
    height: 100%;
    padding:17px;
    margin: 0;
    background: #222;
    color: #FFF;
    border-radius: 10px 0 0 10px;
}
.page__selecteur__nom__ouvert{
    border-radius: 10px 0 0 0;
}
.page__selecteur__nom__possede{
    background: #252;
}
.page__selecteur__ligne_haut{
    grid-row:1;
    padding: 8px 17px 0px 17px;
    border-radius: 10px 0 0 0;
}
.page__selecteur__ligne_bas{
    grid-row:2;
    padding: 5px 17px 5px 37px;
    font-size: 8pt;
    border-radius: 0 0 0 10px;
}
.page__selecteur__ligne_bas.page__selecteur__nom__ouvert{
    border-radius: 0 0 0 0;
}
.page__selecteur__prerequis{
    margin:10px;
    color:#555;
    font-style: italic;
}
.page__selecteur__prerequis__possede{
    color:#EEE;
    font-weight: bold;
}
/* Bouton d'info */
.page___selecteur__bouton_infos{
    box-sizing: border-box;
    display: block;
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding:10px;
    background : #05F;
    color: #FFF;
    border : none;
    border-radius: 0 10px 10px 0;
    font-size: 17pt;
}
.page___selecteur__bouton_infos__deux_lignes{
    grid-row:1/3;
}
.page___selecteur__bouton_infos__ouvert{
    border-radius: 0 10px 0 0;
}
/* Boîte d'info */
.page___selecteur__infos{
    box-sizing: border-box;
    display: block;
    grid-column: 1/3;
    width: 100%;
    padding:10px;
    margin: 0;
    background: #AAA;
    color: #000;
    border-radius: 0 0 10px 10px;
    display: none;
}
.page___selecteur__infos__ouvert{
    display: block;
}
.page___selecteur__infos em{
    font-weight: bold;
}
/* Bouton supprimer */
.page___selecteur__bouton_supprimer{
    box-sizing: border-box;
    display: block;
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding:10px;
    background : #F00;
    color: #FFF;
    border : none;
    border-radius: 0 10px 10px 0;
    font-size: 17pt;
}
