.interfaceGenerale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 640px) 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: ". header ." ". main .";
    will-change: transform;
}

/* Page principale */

.main {
    grid-area: main;
    z-index: var(--zIndexMain);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    scroll-behavior: smooth;
    color: var(--couleurTextePage);
    perspective: 100vw;
    perspective-origin: 50% 50%;
    will-change: transform;
}

/* Header */

.header {
    grid-area: header;
    z-index: var(--zIndexheader);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--couleurFondTitre1);
    color: var(--couleurTexteTitre1);
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-areas: "boutonMenu titre boutonPersonnage";
    align-items: center;
    justify-items: center;
}

.header_boutonMenu {
    grid-area: boutonMenu;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.header_titre {
    grid-area: titre;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    color: var(--couleurTexteTitre1);
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
    align-items: center;
}

.header_boutonPersonnage {
    grid-area: boutonPersonnage;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: none;
}

/* Footer */

.footer {
    grid-area: main;
    align-self: end;
    z-index: var(--zIndexFooter);
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 10px 30px 10px 10px;
    background: transparent;
    display: block;
    transform: translateY(100%);
    transition: transform 200ms ease-in 0ms;
    text-align: right;
}

.footer_actif {
    transform: translateY(0);
    transition: transform 200ms ease-out 0ms;
}

.footer_bouton {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 0;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.2;
}

.footer_bouton_actif {
    opacity: 1.0;
}

/* Side panel */

.sidePanel_overlay {
    z-index: var(--zIndexSidePanelOverlay);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    opacity: 0.0;
    transform: scaleX(0);
    transition: opacity 200ms linear 0s, transform 0ms linear 200ms;
    will-change: transform;
}

.sidePanel_overlay_ouvert {
    opacity: 0.8;
    transform: scaleX(1);
    transition: opacity 200ms linear 0s, transform 0ms linear 0ms;
}

.sidePanel {
    z-index: var(--zIndexSidePanel);
    position: absolute;
    top: 0;
    left: 0;
    width: 85vw;
    height: 100vh;
    overflow: hidden;
    background: var(--couleurFondSidePanel);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header" "contenu";
    transform: translateX(-100%);
    transition: transform 200ms ease-in 0ms;
    will-change: transform;
}

.sidePanel_ouvert {
    transform: translateX(0);
    transition: transform 200ms ease-out 0ms;
}

.sidePanel_header {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px;
    grid-template-areas: "boutonFermer titre";
    grid-area: header;
    background: var(--couleurFondTitre1);
    color: var(--couleurTexteTitre1);
}

.sidePanel_boutonFermer {
    grid-area: boutonFermer;
    background: var(--couleurFondTitre1);
}

.sidePanel_contenu {
    grid-area: contenu;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;
}


.sidePanel_titre {
    grid-area: titre;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidePanel_elementNavigation {
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 40px;
    margin: 5px 10px 0px 10px;
    padding: 0 10px 0 20px;
    background: var(--couleurBoutonsClair);
    border: none;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icone texte";
    align-items: center;
    cursor: pointer;
    border: solid 1px var(--couleurTexteBoutonsClair);
    border-radius: 10px;
}

.sidePanel_elementFilAriane {
    margin: 5px 10px 0px 10px;
}

.sidePanel_elementSommaire {
    width: calc(100% - 40px);
    margin: 5px 10px 0px 30px;
}

.sidePanel_elementNavigation_icone {
    grid-area: icone;
    color: var(--couleurTexteBoutonsClair);
    opacity: 0.5;
    text-align: left;
    font-size: 14pt;
    font-weight: bolder;
}

.sidePanel_elementNavigation_texte {
    grid-area: texte;
    color: var(--couleurTexteBoutonsClair);
    text-align: left;
    font-size: 10pt;
    font-weight: bold;
}

.sidePanel_elementNavigation:active {
    animation-name: bouton__active;
    animation-duration: 200ms;
}

.notification {
    padding: 0 0 10px 0;
    border-bottom: solid 1px var(--couleurTexteBoutonsClair);
    margin: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 90px;
    grid-template-areas: "titre bouton" "texte bouton";
}

.notification_titre {
    grid-area: titre;
    margin: 0 0 5px 0;
    padding-top: 2px 5px 0 0;
    font-weight: bold;
    font-size: 0.8rem;
}

.notification_texte {
    grid-area: texte;
    padding: 0 5px 2px 0;
    opacity: 0.6;
    font-size: 0.8rem;
}

.notification_boutonAction {
    grid-area: bouton;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

@media screen and (min-width: 640px) {
    .interfaceGenerale {
        grid-template-columns: 1fr minmax(auto, 640px) 320px 1fr;
        grid-template-areas: ". header header ." ". main sidepanel .";
    }
    .header {
        grid-template-columns: 1fr 190px 60px;
        grid-template-areas: "titre . boutonPersonnage";
    }
    .header_boutonMenu {
        display: none;
    }
    .main {
        z-index: var(--zIndexMainPC);
    }
    .footer {
        z-index: var(--zIndexFooterPC);
    }
    .sidePanel {
        position: initial;
        grid-area: sidepanel;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: "contenu";
        transform: initial;
        transition: initial;
    }
    .sidePanel_header, .sidePanel_overlay, .sidePanel_overlay_ouvert {
        display: none;
    }
    .sidePanel_ouvert {
        transform: initial;
    }
}