.icone {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 10pt;
    border-radius: 0;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.iconeMenu {
    background-image: url('../images/icones/iconeMenu.png');
}

.iconeMenu_notification {
    background-image: url('../images/icones/iconeMenuNotif.png');
}

.iconePersonnage {
    background-image: url('../images/icones/iconePersonnage.png');
}

.iconeRetour {
    background-image: url('../images/icones/iconeRetour.png');
}

.iconeGauche {
    background-image: url('../images/icones/iconeGauche.png');
}

.iconeDroite {
    background-image: url('../images/icones/iconeDroite.png');
}

.iconeAccueil {
    background: rgb(0, 17, 255);
}

.iconeDossier {
    background: rgb(68, 68, 68);
}

.iconeArticle {
    background: rgb(68, 68, 68);
}

.iconeTitre {
    background: rgb(68, 68, 68);
}

