.icone {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 10pt;
    border-radius: 0;
}

.iconeMenu {
    background: rgb(255, 208, 0);
}

.iconeMenu_notification {
    background: #F00;
}

.iconeNotification {
    background: #F00;
}

.iconePersonnage {
    background: rgb(0, 255, 98);
}

.iconeAccueil {
    background: rgb(0, 17, 255);
}

.iconeDossier {
    background: rgb(68, 68, 68);
}

.iconeArticle {
    background: rgb(68, 68, 68);
}

.iconeTitre {
    background: rgb(68, 68, 68);
}

.iconeRetour {
    background: rgb(138, 78, 133);
}
