/**
 * Thèmes
 */
:root{
    /**
     * Loader
     */
     --fondLoader : radial-gradient(circle at 0 0, #11335a 0%,#4e667a 77%,#0d3250 79%,#000000 81%,#000000 100%);
     --couleurTitreLoader : rgba(255, 255, 255, 0.945);
     --couleurBordureBarreLoader1 : rgba(255, 255, 255, 0.856);
     --couleurBordureBarreLoader2 : rgba(255, 255, 255, 0.767);
     --couleurBarreLoader : rgba(255, 255, 255, 0.651);
 
    /**
     * Interface générale
     */
    --fondApplication: radial-gradient(circle at 0 0, #1e5799 0%,#82b0d6 77%,#2989d8 79%,#000000 81%,#000000 100%);

    --couleurFondPage: rgba(255, 255, 255, 0.651);
    --couleurTextePage: rgb(36, 36, 36);

    --couleurFondFooter: rgba(255, 255, 255, 0.781);

    --couleurFondTitre1: rgb(29, 71, 99);
    --couleurTexteTitre1: rgb(255, 255, 255);
    --couleurTexteTitre2: rgb(29, 71, 99);
    --couleurBordureTitre2 : rgb(29, 71, 99);

    --couleurTexteCitation : rgb(36, 36, 36);
    --fondCitation : rgba(29, 71, 99, 0.329);

    --couleurBordureEncart : rgb(29, 71, 99);
    --couleurFondEncart : rgba(255, 255, 255, 0.418);

    /**
     * Tableaux
     */
    --couleurFondTableau : rgb(29, 71, 99);
    --couleurTexteTitreTableaux : rgba(255, 255, 255, 0.9);
    --couleurFondTitreTableaux : transparent;
    --couleurFondCelluleTableaux : rgba(255, 255, 255, 0.85);
    --couleurTexteCelluleTableaux : rgb(0, 0, 0);

    /**
     * Boutons
     */
    --couleurBoutons: rgb(40, 113, 161);
    --couleurTexteBoutons: rgb(255, 255, 255);
    --couleurBoutonsBad: rgb(209, 44, 44);
    --couleurTexteBoutonsBad: rgb(255, 255, 255);

    /**
     * Création de personnage
     */
    --couleurFondSelecteurs: rgb(60, 151, 212);
    --couleurTexteSelecteur: rgb(0, 0, 0);
    --couleurFondSelecteursSelection: rgb(94, 194, 94);
    --couleurTexteSelecteurSelection: rgb(0, 0, 0);
    --couleurFondInfosSelecteur: rgba(255, 255, 255, 0.418);
    --couleurTexteInfosSelecteur: rgba(0, 0, 0, 0.822);
    --couleurPlaceholderSelecteur: rgba(0, 0, 0, 0.562);
    --couleurLabelSelecteurOn: rgba(0, 0, 0, 0.959);
    --couleurLabelSelecteurOff: rgba(0, 0, 0, 0.397);

    /**
     * Textes
     */
    font-size:11pt;
}

/**
 * Loader
 */
.loader__overlay{
    position: absolute;
    display: grid;
    z-index: 100000;
    width:100%;
    height:100%;
    background: var(--fondLoader);
    opacity: 1;
    transition-duration: 1000ms;
    transition-property: opacity;
    grid-template-columns: auto;
    grid-template-rows: auto 100px 20px 20px auto;
    justify-items: center;
    align-items: center;
}
.loader__disparait{
    opacity: 0;
}
.loader__disparu{
    display: none;
}
.loader__titre{
    grid-row: 2;
    font-size: 40pt;
    font-weight: bold;
    background: transparent;
    color: var(--couleurTitreLoader);
}
.loader__barre-chargement-1{
    grid-row: 3;
    border : solid 2px var(--couleurBordureBarreLoader1);
    padding: 1px;
    width: 300px;
    height: 12px;
}
.loader__barre-chargement-2{
    grid-row: 4;
    border : solid 2px var(--couleurBordureBarreLoader2);
    padding: 1px;
    width: 300px;
    height: 8px;
}
.loader__barre-chargement-interieur{
    background : var(--couleurBarreLoader);
    height: 100%;
    width: 0%;
    transition-property: width;
}
.loader__barre-chargement-interieur__avec-transition{
    transition-duration: 500ms;
}

/**
 * Zone principale
 */
 html{
    width: 100vw;
    height: 100vh;
 }
.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--fondApplication);
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
.header {
    position: fixed;
    top:0px;
    width: 100vw;
    height: 60px;
    transform: translateY(-60px);
    transition-property: transform;
    transition-duration: 300ms;
}
.header__actif {
    transform: translateY(0);
}
.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color : var(--couleurTextePage);
    will-change: transform; /* Avoid repainting everything ! */
}

/**
 * Styles de texte
 */
h1 {
    margin: 0 -10px 1rem -10px;
    padding: 0.5rem;
    background: var(--couleurFondTitre1);
    color: var(--couleurTexteTitre1);
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin: 1rem 0 calc(0.5rem - 1px) 0;
    border-bottom: solid 1px;
    border-bottom-color: var(--couleurBordureTitre2);
    color: var(--couleurTexteTitre2);
    font-size: 1.5rem;
    text-align: left;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

blockquote {
    margin: -1rem -10px 1rem -10px;
    padding: 1rem calc(10px + 3rem) 1rem calc(10px + 3rem);
    color: var(--couleurTexteCitation);
    background: var(--fondCitation);
    font-size: 1rem;
    text-align: center;
}

ul {
    margin:0;
    margin-bottom: 1rem;
    padding: 0;
    padding-left: 2rem;
}

li {
    list-style-type: circle;
}

.encart {
    box-sizing: border-box;
    padding: calc(1rem - 2px + 5px);
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1rem;
    border : solid 2px var(--couleurBordureEncart);
    border-radius: 15px;
    background: var(--couleurFondEncart);
}

em {
    font-style: normal;
    font-weight: bold;
}
/**
 * Tableaux
 */
.table__conteneur {
    width: 100%;
    padding:0px;
    overflow: auto;
    margin-bottom: 1rem;
}
table {
    box-sizing: border-box;
    width: 100%;
    background: var(--couleurFondTableau);
    border-spacing: 2px;
    border-radius: 15px;
    border: solid 2px var(--couleurFondTableau);
    overflow:hidden;
}

th {
    background: var(--couleurFondTitreTableaux);
    color: var(--couleurTexteTitreTableaux);
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}
td {
    background: var(--couleurFondCelluleTableaux);
    color: var(--couleurTexteCelluleTableaux);
    padding: 0.5rem;
    text-align: center;
}

/**
 * Boutons
 */
.bouton {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    background : var(--couleurBoutons);
    color: var(--couleurTexteBoutons);
    border: none;
    border-radius : 10px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 10pt;
}
@keyframes bouton__active {
    from {transform: scale(1.0);}
    50% {transform: scale(0.95);}
    to {transform: scale(1.0);}
}
.bouton:focus {
    outline:0;
}
.bouton:active {
    animation-name: bouton__active;
    animation-duration: 200ms;
}