/*
 * Layout général des pages et animations d'ouverture
 */

.page {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.page__contenu {
    grid-row: 1;
    box-sizing: border-box;
    padding: 1rem 10px 0px 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--couleurFondPage);
}

.page__contenu> :last-child {
    margin-bottom: calc(80px + 1rem);
}

@keyframes page__depuisGauche {
    from {
        transform: translate(-100%);
    }
    50% {
        transform: translate(0%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes page__depuisDroite {
    from {
        transform: translate(100%);
    }
    50% {
        transform: translate(0%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes page__versGauche {
    from {
        transform: translate(0%);
    }
    50% {
        transform: translate(-100%);
    }
    to {
        transform: translate(-100%);
    }
}

@keyframes page__versDroite {
    from {
        transform: translate(0%);
    }
    50% {
        transform: translate(100%);
    }
    to {
        transform: translate(100%);
    }
}

.page__depuisGauche {
    animation-name: page__depuisGauche;
    animation-duration: 1000ms;
}

.page__depuisDroite {
    animation-name: page__depuisDroite;
    animation-duration: 1000ms;
}

.page__versGauche {
    animation-name: page__versGauche;
    animation-duration: 1000ms;
}

.page__versDroite {
    animation-name: page__versDroite;
    animation-duration: 1000ms;
}

@keyframes page__depuisFond {
    from {
        transform: translateZ(-10vw);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateZ(0%);
        opacity: 1;
    }
    to {
        transform: translateZ(0%);
        opacity: 1;
    }
}

@keyframes page__depuisAvant {
    from {
        transform: translateZ(00vw);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateZ(0%);
        opacity: 1;
    }
    to {
        transform: translateZ(0%);
        opacity: 1;
    }
}

@keyframes page__versFond {
    from {
        transform: translateZ(0%);
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateZ(-10vw);
        opacity: 0;
    }
    to {
        transform: translateZ(-10vw);
        opacity: 0;
    }
}

@keyframes page__versAvant {
    from {
        transform: translateZ(0%);
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translateZ(00vw);
        opacity: 0;
    }
    to {
        transform: translateZ(00vw);
        opacity: 0;
    }
}

.page__depuisFond {
    animation-name: page__depuisFond;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
}

.page__depuisAvant {
    animation-name: page__depuisAvant;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    z-index: var(--zIndexMainAvant);
}

@media screen and (min-width: 640px) {
    .page__depuisAvant {
        z-index: var(--zIndexMainPCAvant);
    }
}

.page__versFond {
    animation-name: page__versFond;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
}

.page__versAvant {
    animation-name: page__versAvant;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    z-index: var(--zIndexMainAvant);
}

@media screen and (min-width: 640px) {
    .page__versAvant {
        z-index: var(--zIndexMainPCAvant);
    }
}

/*
 * Boutons des pages
 */

.page__bouton {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0 10px 0;
    height: 40px;
    background: var(--fondBouton);
    color: var(--couleurTexteBoutons);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 10pt;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes page__bouton__active {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.95);
    }
    to {
        transform: scale(1.0);
    }
}

.page__bouton:hover {
    outline: 0;
    filter: brightness(1.2) saturate(0.7) contrast(1.2);
}

.page__bouton:active {
    animation-name: page__bouton__active;
    animation-duration: 200ms;
}

.page__bouton__pleine_largeur {
    display: block;
    width: 100%;
}

.page__bouton_flottant_droite {
    float: right;
}