/*
 * Layout général des pages et animations d'ouverture
 */
.page {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: none;
}
.page__on {
    display:grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - 60px) 60px;
}
.page__contenu {
    grid-row: 1;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    width: 100%;
    max-width: 640px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.page__footer {
    grid-row: 2;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 640px;
    height: 100%;
    overflow: hidden;
}

@keyframes page__depuis_gauche {
    from {transform: translate(-100%);}
    to {transform: translate(0%);}
}
@keyframes page__depuis_droite {
    from {transform: translate(100%);}
    to {transform: translate(0%);}
}
@keyframes page__vers_gauche {
    from {transform: translate(0%);}
    to {transform: translate(-100%);}
}
@keyframes page__vers_droite {
    from {transform: translate(0%);}
    to {transform: translate(100%);}
}
.page__depuis_gauche {
    animation-name: page__depuis_gauche;
    animation-duration: 500ms;
}
.page__depuis_droite {
    animation-name: page__depuis_droite;
    animation-duration: 500ms;
}
.page__vers_gauche {
    animation-name: page__vers_gauche;
    animation-duration: 500ms;
}
.page__vers_droite {
    animation-name: page__vers_droite;
    animation-duration: 500ms;
}

/*
 * Boutons des pages
 */

.page__bouton {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    background : var(--couleurBoutons);
    color: var(--couleurTexteBoutons);
    border: none;
    border-radius : 10px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
@keyframes page__bouton__active {
    from {transform: scale(1.0);}
    50% {transform: scale(0.95);}
    to {transform: scale(1.0);}
}
.page__bouton:focus {
    outline:0;
}
.page__bouton:active {
    animation-name: page__bouton__active;
    animation-duration: 200ms;
}
.page__bouton_precedent {
    float: left;
    width: 35%;
}
.page__bouton_suivant {
    float: right;
    width: 35%;
}
.page__bouton__pleine_largeur {
    width: 100%;
}
.page__bouton_flottant_droite {
    float:right;
}
