<form class="page__selecteur page__selecteur__deux_lignes page__selecteur__trois_boutons">
    <p class="page__selecteur__nom page__selecteur__ligne_haut"></p>
    <p class="page__selecteur__nom page__selecteur__ligne_bas"></p>
    <button class="page___selecteur__bouton_moins page___selecteur__bouton__deux_lignes" type="submit">-</button>
    <p class="page___selecteur__valeur_element page___selecteur__bouton__deux_lignes"></p>
    <button class="page___selecteur__bouton_plus page___selecteur__bouton__deux_lignes" type="submit">+</button>
</form>