<div class="page">
    <div class="page__contenu">
        <h1>Équipement</h1>
        <p>
           L'équipement est le matériel que transporte et utilise votre personnage régulièrement. Il est probable qu'il n'emporte pas tout tout ce matériel : un astronaute en vacance ne se balade pas en combinaison spatiale.
        </p>
        <p>
            Pour vous aider à choisir, nous avons marqué certaines pièces d'équipement de la mention «&nbsp;Conseillé&nbsp;».
            Il s'agit des plus courantes et utiles pour les carrières que vous avez choisi.
            Certain appareils sont tellement courants, indépendamment de vos carrières, que nous leur avons donné la mention «&nbsp;Universel&nbsp;»
            Notez bien que vous n'êtes pas restreint à ces deux catégories, et que vous pouvez même en inventer qui ne figureraient pas dans la liste.
        </p>
        <form id="creationPersonnageEquipementsAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Equipement personnalisé" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
        <ul id="creationPersonnageEquipementsCustom" class="page__liste"></ul>
        <ul id="creationPersonnageEquipements" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>