<div class="page">
    <div class="page__contenu">
        <h1>Logiciels</h1>
        <ul id="creationPersonnageLogiciels" class="page__liste"></ul>
        <ul id="creationPersonnageLogicielsCustom" class="page__liste"></ul>
        <form id="creationPersonnageLogicielsAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Logiciel personnalisé" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>