<div class="page">
    <div class="page__contenu">
        <h1>Évaluation des éléments</h1>
        <h2 id="creationPersonnageLabelEvaluationCarrieres">Carrières</h2>
        <ul id="creationPersonnageEvaluationCarrieres" class="page__liste"></ul>
        <h2 id="creationPersonnageLabelEvaluationRelations">Relations</h2>
        <ul id="creationPersonnageEvaluationRelations" class="page__liste"></ul>
        <h2 id="creationPersonnageLabelEvaluationTraits">Traits</h2>
        <ul id="creationPersonnageEvaluationTraits" class="page__liste"></ul>
        <h2 id="creationPersonnageLabelEvaluationModifications">Modifications</h2>
        <ul id="creationPersonnageEvaluationModifications" class="page__liste"></ul>
        <h2 id="creationPersonnageLabelEvaluationEquipements">Equipement</h2>
        <ul id="creationPersonnageEvaluationEquipements" class="page__liste"></ul>
        <h2 id="creationPersonnageLabelEvaluationLogiciels">Logiciels</h2>
        <ul id="creationPersonnageEvaluationLogiciels" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>