<div class="page">
    <div class="page__contenu">
        <h1>Logiciels</h1>
        <p>
            Les logiciels sont des programmes ou applications directements liés à votre personnage généralement chargé dans son link.
            Ces logiciels permettent d'effectuer des taches particulièrement spécialisées et pointues.
        </p>
        <p>
            Pour vous aider à choisir, nous en avons marqué avec la mention «&nbsp;Conseillé&nbsp;».
            Il s'agit des plus courants et utiles pour les carrières que vous avez choisi.
            Certain logiciels sont tellement courants, indépendamment de vos carrières, que nous leur avons donné la mention «&nbsp;Universel&nbsp;»
            Notez bien que vous n'êtes pas restreint à ces deux catégories, et que vous pouvez même en inventer qui ne figureraient pas dans la liste.
        </p>
        <form id="creationPersonnageLogicielsAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Logiciel personnalisé" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
        <ul id="creationPersonnageLogicielsCustom" class="page__liste"></ul>
        <ul id="creationPersonnageLogiciels" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>