<div class="page">
    <div class="page__contenu">
        <h1>Nature de l'esprit</h1>
        <p>
            L'esprit de votre personnage est le moteur de son intelligence, de sa conscience, de sa capacité à percevoir et ressentir, bref d'être sentient.
            C'est typiquement ce qui le rend plus utile qu'une simple brique ou qu'un automate.
        </p>
        <p>
            Tous les types d'esprits ne sont compatibles avec n'importe quel corps. Une fois la nature de l'esprit de votre personnage choisi, les compatibilité apparaitront simplement.
            De la même manière, si vous avez déjà choisi une enveloppe usuelle, vous pouvez voir quelles types d'esprits sont compatibles sur cette même page.
        </p>
        <p>
            N'ayez pas peur de faire quelques aller retour entre cette page et la suivante pour trouver l'association Esprit/Enveloppe qui vous intéresse le plus !
        </p>
        <ul id="creationPersonnageEsprit" class="page__liste"></ul>
    </div>
</div>