<div class="page">
    <div class="page__contenu">
        <h1>Avatar</h1>
        <p>
            L'avatar est la représentation de votre personnage dans la réalité virtuelle, dans les messages et de nombreuses auters interactions sociales.
            Si le physique d'un personnage est contraint par la physique, les avatars disposent de design bien plus libres encore.
        </p>
        <div class="encart">
            <p>
                L'avatar de votre personnage peut être une copie conforme de l'enveloppe du personnage ou quelque chose de totalement nouveau !
            </p>
        </div>

        <h2>Première impression</h2>
        <p>
            Quelle est la première impression que rend l'avatar de votre personnage lorsqu'on le voit pour la première fois ?
        </p>
        <div id="creationPersonnageAvatarPremiereImpression"></div>

        <h2>Corps</h2>
        <p>
            Comment est la silhouette de l'avatar de votre personnage ? Quelles sont ses particularités physiques ?
        </p>
        <div id="creationPersonnageAvatarCorps"></div>

        <h2>Visage</h2>
        <p>
            Quelles sont les particularités du visage de l'avatar de votre personnage ? Qu'est-ce qui permet de le reconnaître parmis d'autres avatars ?
        </p>
        <div id="creationPersonnageAvatarVisage"></div>
    </div>
</div>