<div class="page">
    <div class="page__contenu">
        <h1>Nature de l'esprit</h1>
        <p>La nature des personnages peut être considérée selon deux aspects : son esprit et son enveloppe. L’enveloppe est le corps du personnage son incarnation physique. L’esprit, lui, peut être résumé par sa nature : il s’agit du moteur de la conscience du personnage, de son intelligence, de sa capacité à faire plus de choses qu’une brique. Ainsi l’esprit pilote l’enveloppe et perçoit à travers lui. Il s’agit toutefois d’une simplification : il existe un phénomène appelé « embodiement » qui rend la séparation plus difficile.</p>
        <p>Choississez la nature de l'esprit de votre personnage.</p>
        <ul id="creationPersonnageEsprit" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>