<div class="page">
    <div class="page__contenu">
        <h1>Carrières</h1>
        <p>
            Les carrières sont des métiers, vocations et autres occupations que votre personnage a été amené à pratiquer au cours de sa vie.
            Il en existe une multitude et nous vous proposons une liste, loin d‘être exhaustive, des plus courantes dans Solaires.
        </p>
        <p>
            Choisissez vos carrières en essayant de recouvrir les rôles que vous avez choisis sans déborder sur d'autres rôles.
            Pour vous simplifier la tache, les carrières les plus adaptées ont été rangées vers le haut de la liste, tandis que celles qui ne correspondent à aucun de vos rôles ont été placées en bas.
        </p>
        <p>
            Cette liste n'est pas exaustive. Si vous souhaitez inventer une carrière, vous pouvez toujours ajouter une carrière personalisée, disponible en bas de la liste.
        </p>
        <p>
            Si vous voyez une carrière que vous trouvez cool mais que vos rôles ne permettent pas de prendre, vous pouvez toujours revenir au début changer vos rôles (en concertation avec le reste de votre équipe hein !).
        </p>
        <form id="creationPersonnageCarrieresAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Carrière personnalisée" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
        <ul id="creationPersonnageCarrieresCustom" class="page__liste"></ul>
        <ul id="creationPersonnageCarrieres" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>