<div class="page">
    <div class="page__contenu">
        <h1>Identité</h1>
        <p>
            L'identité est une notion qui regroupe la plupart des informations de base permettant d'indentifier votre personnage.
        </p>
        <p>
            Notez que la plupart des systèmes automatisés, ce qui inclus les administrations, utilisent un ensemble de certificats pour identifier le personnage : c’est ce que les solaires appellent la clé-ID.
            Quelles que soient les informations décrites dans cette section, considérez qu’à partir du moment où une corporation connaît votre personnage, il possède une clé-ID.
        </p>

        <h2>Pseudonyme</h2>
        <p>
                Plus qu’un simple alias, il s'agit de la façon dont le personnage est couramment appelé.
                À la différence d'un surnom, le pseudonyme est
                généralement choisi par la personne le portant et, dans la société des Solaires, il est souvent plus utilisé que le nom.
                Le pseudonyme est d'ailleurs enregistré dans l'état civil, généralement entre guillemets, placé entre les prénoms et les noms de famille.
        </p>
        <ul id="creationPersonnagePseudonyme" class="page__liste"></ul>

        <h2>Nom administratif</h2>
        <p>
                Ce concept administratif regroupe ce que nous connaissons comme “premier prénom, nom”.
                Beaucoup de Solaires ne l'emploient plus vraiment et son usage tombe en désuétude.
                Toutefois, certaines administrations l'emploient encore et il est donc nécessaire d’en posséder un, même s’il s'agit souvent du pseudonyme seul pour les êtres artificiels.
        </p>
        <ul id="creationPersonnageNomAdministratif" class="page__liste"></ul>

        <h2>Profession actuelle</h2>
        <p>
            Si la plupart des solaires sont principalement oisifs, certains continuent de pratiquer un métier.
            La profession actuelle est la carrière que le personnage pratique, ou a pratiqué le plus récemment, et pour laquelle des employeurs pourraient lui faire appel.
            Ce n'est pas nécessairement celle avec le meilleur score.
        </p>
        <ul id="creationPersonnageProfession" class="page__liste"></ul>

        <h2>Affiliation actuelle</h2>
        <p>
            Qu’il s’agisse d’une corporation, d’un groupe ou d’une autre faction, le personnage est normalement attaché à une telle entité.
            C’est un peu l’équivalent de la nationalité pour un Solaire.
        </p>
        <ul id="creationPersonnageAffiliation" class="page__liste"></ul>

        <h2>Genre</h2>
        <p>
            Initialement basée sur le sexe, le genre a beaucoup perdu en sens.
            Choisie de plus en plus arbitrairement, notamment par les IA, cette notion ne revêt plus la même importance dans la société des solaires.
        </p>
        <ul id="creationPersonnageGenre" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>