<div class="page">
    <div class="page__contenu">
        <h1>Identité</h1>
        <p>L'identité regroupe de nombreuses informations de nature adminsitrative.</p>
        <h2>Pseudonyme</h2>
        <ul id="creationPersonnagePseudonyme" class="page__liste"></ul>
        <h2>Nom administratif</h2>
        <ul id="creationPersonnageNomAdministratif" class="page__liste"></ul>
        <h2>Profession actuelle</h2>
        <ul id="creationPersonnageProfession" class="page__liste"></ul>
        <h2>Affiliation actuelle</h2>
        <ul id="creationPersonnageAffiliation" class="page__liste"></ul>
        <h2>Genre</h2>
        <ul id="creationPersonnageGenre" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>