<div class="page">
    <div class="page__contenu">
        <h1>Traits</h1>
        <p>
            Les traits de personnage sont des éléments qui distinguent votre personnage. 
            Il s'agit de son caractère et de ses particularité physique.
        </p>

        <h2>Traits de caractère</h2>
        <p>
            Quels sont les traits de caractère de votre personnage ?
            Ces traits de caractères peuvent être des qualificatifs comme «&nbsp;Prudent&nbsp;» ou «&nbsp;Légèrement introverti&nbsp;», ou des expressions comme «&nbsp;Toujours en alerte&nbsp;» ou «&nbsp;Ne tient pas en place&nbsp;».
            N’hésitez pas à typer votre personnage en lui donnant une personnalité particulière.
        </p>
        <div id="creationPersonnageTraitCaractereAjouter"></div>
        <ul id="creationPersonnageTraitsCaractere" class="page__liste"></ul>

        <h2>Particularités physiques</h2>
        <p>
            Quelles sont les particularités physiques de votre personnage ?
            Comme pour les traits de caractères, ces particularités peuvent être des qualificatifs comme «&nbsp;Mince&nbsp;» ou «&nbsp;Très massif&nbsp;» , ou des expressions comme «&nbsp;Marques de cybernétisation visibles&nbsp;» ou «&nbsp;Passe inaperçu&nbsp;».
        </p>
        <div id="creationPersonnageTraitPhysiqueAjouter"></div>
        <ul id="creationPersonnageTraitsPhysiques" class="page__liste"></ul>
    </div>
</div>