<div class="page">
    <div class="page__contenu">
        <h1>Description</h1>
        <p>Décrivez votre personnage.</p>
        <h2>Première impression</h2>
        <div id="creationPersonnageDescriptionPremiereImpression"></div>
        <h2>Corps</h2>
        <div id="creationPersonnageDescriptionCorps"></div>
        <h2>Visage</h2>
        <div id="creationPersonnageDescriptionVisage"></div>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>