<div class="page">
    <div class="page__contenu">
        <h1>Évaluation des éléments</h1>
        <p>
            Pour pouvoir servir dans le système de résolution du jeu, les éléments de votre personnage ont besoin d'être associé à un score.
            Pour évaluer le score des éléments, il vous suffit simplement de considérer l'importance de chaque élément vis à vis du concept de votre personnage.
        </p>
        <div class="encart">
            <p>
                Par défaut le système n'impose aucun mécanisme pouvant limiter les scores des éléments : l'objectif est de reproduire le plus fidèlement le personnage imaginé initialement.
            </p>
            <p>
                Toutefois, si le MJ souhaite disposer de garde-fou ou si les joueurs ne parviennent pas à faire des évaluations convenables, il peut imposer les limites suivantes :
                deux éléments avec un score de 3, quatre avec un score de 2 et le reste avec un score de 1.
            </p>
        </div>

        <h2 id="creationPersonnageLabelEvaluationCarrieres">Carrières</h2>
        <ul id="creationPersonnageEvaluationCarrieres" class="page__liste"></ul>

        <h2 id="creationPersonnageLabelEvaluationRelations">Relations</h2>
        <ul id="creationPersonnageEvaluationRelations" class="page__liste"></ul>

        <h2 id="creationPersonnageLabelEvaluationTraits">Traits</h2>
        <ul id="creationPersonnageEvaluationTraits" class="page__liste"></ul>

        <h2 id="creationPersonnageLabelEvaluationModifications">Modifications</h2>
        <ul id="creationPersonnageEvaluationModifications" class="page__liste"></ul>

        <h2 id="creationPersonnageLabelEvaluationEquipements">Equipement</h2>
        <ul id="creationPersonnageEvaluationEquipements" class="page__liste"></ul>

        <h2 id="creationPersonnageLabelEvaluationLogiciels">Logiciels</h2>
        <ul id="creationPersonnageEvaluationLogiciels" class="page__liste"></ul>
    </div>
</div>