<div class="page">
    <div class="page__contenu">
        <h1>Enveloppe usuelle</h1>
        <p>
            L'enveloppe d'un personnage représente son corps physique.
            De nombreux solaires considèrent l'enveloppe comme un vêtement qu'enfilerait son esprit.
            Évidemment, tout le monde n'est pas du même avis qu'eux.
        </p>
        <p>
            Toutes les enveloppes ne sont pas compatibles avec n'importe quel type d'esprit.
            Si la nature d'esprit que vous avez choisi à l'étape précédente est incompatible avec la nature d'esprit que vous souhaitez, n'hésitez pas à revenir à l'étape précédente pour en choisir une compatible.
            Vous pouvez même choisir votre enveloppe avant d'y revenir, afin de voir plus facilement les types d'esprits qui seraient compatibles avec.
        </p>
        <ul id="creationPersonnageEnveloppe" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>