<div class="page">
    <div class="page__contenu">
        <h1>Carrières</h1>
        <p>Les carrières sont des métiers, vocations et autres occupations que votre personnage a été amené à pratiquer au cours de sa vie. Il en existe une multitude et nous vous proposons une liste, loin d‘être exhaustive, des plus courantes dans Solaires. Pour chaque carrière, nous vous avons indiqué les aspects d’une aventure que couvrent ces carrières. Vous trouverez aussi une courte liste du matériel de travail régulièrement employé par les personnages pratiquants à titre d’exemple.</p>
        <p>Choisissez les carrières de votre personnage. Essayez de remplir au mieux les rôles que vous avez précédemment sélectionné. Si vous ne trouvez pas une carrière en particulier dans cette liste, n'hésitez pas à ajouter une carrière personnalisée.</p>
        <ul id="creationPersonnageCarrieres" class="page__liste"></ul>
        <ul id="creationPersonnageCarrieresCustom" class="page__liste"></ul>
        <form id="creationPersonnageCarrieresAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Carrière personnalisée" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>