<div class="page">
    <div class="page__contenu">
        <h1>Exportation</h1>
        <p>
            Pour sauvegarder votre personnage sur votre ordinateur, cliquez sur le bouton Exporter.
        </p>
        
        <button id="exportationPersonnageSauvegarder" class="page__boutons page__bouton__pleine_largeur">Sauvegarder dans le navigateur</button>
        <button id="exportationPersonnageExporter" class="page__boutons page__bouton__pleine_largeur">Exporter sur votre ordinateur</button>        
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
    </div>
</div>