<div class="page">
    <div class="page__contenu">
        <h1>Édition de personnage</h1>
        <p>Solaires propose de définire très librement les personnages. Il existe donc plusieurs méthodes pour y parvenir, la plus basique revenant à décrire le personnage et chiffrer les éléments important de cette description. Toutefois cette méthode est peu adapté aux joueurs qui ne connaissent pas assez le jeu et son univers. Vous trouverez ici une méthode plus encadrée pour y parvenir. Cette création se fera en plusieurs étapes :</p>
        <ul>
            <li>le choix des rôles (qui permettent de répartir les domaines de compétences des personnages dans le groupe) ;</li>
            <li>le choix de son enveloppe physique ;</li>
            <li>le choix de la nature de son esprit ;</li>
            <li>le choix de ses carrières ;</li>
            <li>la construction de son identité ;</li>
            <li>le choix de ses traits ;</li>
            <li>le choix de ses modifications, équipement et logiciels ;</li>
            <li>sa description physique ;</li>
            <li>sa motivation et ses opinions ;</li>
            <li>le chiffrage de ses éléments ;</li>
            <li>la construction de son intrigue personnelle.</li>
        </ul>
        <p>Vous serez guidé à chaque étape et vous pourrez revenir en arrière à tout moment pour modifier vos choix. N'ayez pas peur d'expérimenter !</p>
    </div>
    <div class="page__footer">
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>