<div class="page">
    <div class="page__contenu">
        <h1>Description</h1>
        <p>Décrivez votre personnage.</p>
        <div class="encart">
            <p>
                Note : durant cette description, il est permis, et même recommandé, d'y faire figurer les traits physiques pertinent.
            </p>
            <p>
                Évidemment, les infomorphes peuvent laisser ces descriptions vides.
                Pour les êtres disposant d'enveloppes non-humanoïdes, il est possible que certaines descriptions ne soient pas non plus pertinentes.
            </p>
        </div>

        <button id="creationPersonnageCopierAvatar" class="page__bouton page__bouton__pleine_largeur">Copier la description</button>

        <h2>Première impression</h2>
        <p>
            Quelle est la première impression que donne votre personnage lorsqu'on le voit pour la première fois ?
        </p>
        <div id="creationPersonnageDescriptionPremiereImpression"></div>

        <h2>Corps</h2>
        <p>
            Comment est la silhouette de votre personnage ? Quelles sont ses particularités physiques ?
        </p>
        <div id="creationPersonnageDescriptionCorps"></div>

        <h2>Visage</h2>
        <p>
            Quelles sont les particularités du visage de votre personnage ? Qu'est-ce qui permet de le reconnaître parmis d'autres solaires ?
        </p>
        <div id="creationPersonnageDescriptionVisage"></div>
    </div>
</div>