<div class="page">
    <div class="page__contenu">
        <h1>Relations</h1>
        <p>
            Les relations représentent les contacts, les alliés et les amis de votre personnage.
            Vous pouvez choisir des factions ou directement des individus.
        </p>
        <p>
            La plupart des personnages possèdent en général deux ou trois relations tandis que ceux qui ont pris les rôle Relations en connaissent généralement plus (certaines carrières, comme par exemple Fixer, impliquent un réseau de relation annonyme).
            Si vous souhaitez ajouter une faction manquante à la liste ou des individus, n'hésitez pas à créer une relation personnalisée.
        </p>
        <form id="creationPersonnageRelationsAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Relation personnalisée" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
        <ul id="creationPersonnageRelationsCustom" class="page__liste"></ul>
        <ul id="creationPersonnageRelations" class="page__liste"></ul>
    </div>
</div>