<div class="page">
    <div class="page__contenu">
        <h1>Modifications</h1>
        <p>
            Votre personnage possède probablement une enveloppe pourvu de modifications, implants et autres améliorations.
            En fonction de la nature de votre enveloppe vous n'aurez pas accès aux mêmes améliorations : les enveloppes cybernétiques utilisent des modifications et implants cybernétiques, tandis que les enveloppes organiques utilisent... eh bien, des modifications organiques.
            Certaines enveloppes mixtes ont aussi le droit aux deux.
        </p>
        <p>
            Pour vous aider à choisir, nous avons marqué certaines modifications de la mention «&nbsp;Conseillé&nbsp;».
            Il s'agit des plus courantes et utiles pour les carrières que vous avez choisi.
            Certaines sont tellement courantes, indépendamment de vos carrières, que nous leur avons donné la mention «&nbsp;Universel&nbsp;»
            Notez bien que vous n'êtes pas restreint à ces deux catégories, et que vous pouvez même en inventer qui ne figureraient pas dans la liste.
        </p>
        <form id="creationPersonnageModificationsAjouter" class="page__selecteur">
            <input class="page__selecteur__nom" type="text" placeholder="Modification personnalisée" />
            <button class="page___selecteur__bouton_ajouter" type="submit">+</button>
        </form>
        <ul id="creationPersonnageModificationsCustom" class="page__liste"></ul>
        <ul id="creationPersonnageModifications" class="page__liste"></ul>
    </div>
    <div class="page__footer">
        <button class="bouton-precedent page__bouton page__bouton_precedent">Précédent</button>
        <button class="bouton-suivant page__bouton page__bouton_suivant">Suivant</button>
    </div>
</div>