<div class="page">
    <div class="page__contenu">
        <h1>Rôles</h1>
        <p>
            Lors de leurs aventures, les persnnages vont rencontrer de nombreuses situations qu'ils devront résoudre.
            Nous avons regroupé toutes ces situations sous la forme des huits aspects d'une aventure de Solaire.
        </p>
        <p>
            Chaque personnage doit être capable de gérer plusieurs de ces situations pour que le groupe soit à même de venir à bout de ses aventures.
            Si vous effectuez la création en groupe (ce que nous recommandons), essayez de vous répartir les rôles en gardant un peu de redondance.
        </p>
        <p>
            De façon général vous devriez choisir environ trois rôles. Cliquez sur un rôle pour le sélectionner ou le déselectionner.
        </p>
        <ul id="creationPersonnageRoles" class="page__liste"></ul>
    </div>
</div>