<li class="page__selecteur page__selecteur__avec_label">
    <p class="page__selecteur__nom page__selecteur__premier_nom"></p>
    <select class="page__selecteur__nom page__selecteur__second_nom">
        <option value="+">Favorable</option>
        <option value="-">Défavorable</option>
        <option value="0">Neutre</option>
        <option value="=">Mitigé</option>
        <option value="?">Sans avis</option>
    </select>
    <button class="page___selecteur__bouton_infos page___selecteur__bouton_2">🔍</button>
    <p class="page___selecteur__infos page___selecteur__infos__trois_colonnes"></p>
</li>