<div class="page">
    <div class="page__contenu">
        <h1>Opinions</h1>
        <p>
            Votre personnage vis dans un monde disposant de nombreuses facettes et possède probablement une opinion sur la plupart des domaines qui l'entoure.
            Comment votre personnage considère-t-il chacun de ces aspets  de la société ?
        </p>
        <ul>
            <li><em>Favorable</em> : votre personnage considère que ce domaine a un impact gloablement positif&nbsp;;</li>
            <li><em>Défavorable</em> : votre personnage considère que ce domaine a un impact gloablement négatif&nbsp;;</li>
            <li><em>Neutre</em> : votre personnage considère que ce domaine n'a pas vraiment d'impact&nbsp;;</li>
            <li><em>Mitigé</em> : votre personnage considère que ce domaine est aussi bon que mauvais&nbsp;;</li>
            <li><em>Neutre</em> : votre personnage n'a aucun avis là-dessus, soit parce qu'il n'en sait rien, soit parce qu'il s'en moque.</li>            
        </ul>
        <p>
            Il n’est pas nécessaire de développer les réponses à ces questions : la simple appréciation suffit.
            En réalité ces questions servent surtout à initier le questionnement du joueur par rapport à la perception du personnage sur des éléments de sa vie courante.
        </p>
        <ul id="creationPersonnageOpinions" class="page__liste"></ul>
    </div>
</div>