<div class="page">
    <div class="page__contenu">
        <h1>Historique</h1>
        <p>
            Continuons l'histoire de votre personnage
        </p>
        <p>
            Voici quelques dates qui vous seront utiles :
        </p>
        <div id="creationPersonnageContrainteDatesHistorique"></div>        

        <button id="creationPersonnageAjouterPeriodeDebut" class="page__bouton page__bouton__pleine_largeur">Ajouter une période au début de l'historique</button>

        <div id="creationPersonnageListePeriodes"></div>

        <button id="creationPersonnageAjouterPeriodeFin" class="page__bouton page__bouton__pleine_largeur">Ajouter une période à la fin de l'historique</button>
    </div>
</div>