<div class="page">
    <div class="page__contenu">
        <h1 id="affichagePersonnagePseudonyme"></h1>

        <h2>Identité</h2>
        <p><em>Nom adminsitratif : </em><span id="affichagePersonnageNomAdministratif"></span></p>
        <p><em>Rôles : </em><span id="affichagePersonnageRoles"></span></p>
        <p><em>Profession : </em><span id="affichagePersonnageProfession"></span></p>
        <p><em>Nature d'esprit : </em><span id="affichagePersonnageNatureEsprit"></span></p>
        <p><em>Enveloppe usuelle : </em><span id="affichagePersonnageEnveloppeUsuelle"></span></p>
        <p><em>Affiliation : </em><span id="affichagePersonnageAffiliation"></span></p>
        <p><em>Genre : </em><span id="affichagePersonnageGenre"></span></p>

        <h2>Motivation - Objectifs</h2>
        <p><em>Motivation : </em><span id="affichagePersonnageMotivation"></span></p>

        <h2>Opinions</h2>
        <ul id="affichagePersonnageOpinions">
        </ul>

        <h2>Description</h2>
        <p><em>Première impression : </em><span id="affichagePersonnageDescriptionImpression"></span></p>
        <p><em>Corps : </em><span id="affichagePersonnageDescriptionCorps"></span></p>
        <p><em>Visage : </em><span id="affichagePersonnageDescriptionVisage"></span></p>

        <h2>Avatar</h2>
        <p><em>Première impression : </em><span id="affichagePersonnageAvatarImpression"></span></p>
        <p><em>Corps : </em><span id="affichagePersonnageAvatarCorps"></span></p>
        <p><em>Visage : </em><span id="affichagePersonnageAvatarVisage"></span></p>
        
        <h2>Traits</h2>
        <ul id="affichagePersonnageTraits">
        </ul>
        
        <h2>Carrières</h2>
        <ul id="affichagePersonnageCarrieres">
        </ul>
        
        <h2>Relations</h2>
        <ul id="affichagePersonnageRelations">
        </ul>

        <h2>Modifications</h2>
        <ul id="affichagePersonnageModifications">
        </ul>
        
        <h2>Équipement</h2>
        <ul id="affichagePersonnageEquipement">
        </ul>
        
        <h2>Logiciels</h2>
        <ul id="affichagePersonnageLogiciels">
        </ul>

        <h2>Naissance/Création</h2>
        <p><em>Date de naissance : </em><span id="affichagePersonnageDateNaissance"></span></p>
        <p><em>Lieu de naissance : </em><span id="affichagePersonnageLieuNaissance"></span></p>
        <p><em>Détails : </em><span id="affichagePersonnageDetailsNaissance"></span></p>

        <h2>Points de personnage</h2>
        <p><em>Points de personnage : </em><span id="affichagePersonnagePP"></span>/<span id="affichagePersonnageMaxPP"></span></p>
    </div>
</div>