<div class="page">
    <div class="page__contenu">
        <h1>Solaires</h1>
        <blockquote>
            &laquo;&nbsp;Je promets que dans la prochaine d&eacute;cennie, l&rsquo;humanit&eacute; retournera sur ce point rouge&acirc;tre. Et ce, pour s&rsquo;y installer&nbsp;!&nbsp;&raquo;
            <br/>
            Alfred Johnwen, PDG de HIARTech
        </blockquote>
        <p>
            Bienvenue sur l'application compagnon de Solaires, le jeu de Rôles.
        </p>

        <button id="accueilEncyclopedie" class="page__bouton page__bouton__pleine_largeur">L'encyclopédie de Solaires</button>
        <button id="accueilPersonnages" class="page__bouton page__bouton__pleine_largeur">Vos personnages</button>
    </div>
</div>