<div class="page">
    <div class="page__contenu">
        <h1>Édition d'un personnage</h1>
        <button id="editionPersonnageRoles" class="page__bouton page__bouton__pleine_largeur">Rôles</button>
        <button id="editionPersonnageEsprit" class="page__bouton page__bouton__pleine_largeur">Nature d'esprit</button>
        <button id="editionPersonnageEnveloppe" class="page__bouton page__bouton__pleine_largeur">Enveloppe usuelle</button>
        <button id="editionPersonnageCarrieres" class="page__bouton page__bouton__pleine_largeur">Carrières</button>
        <button id="editionPersonnageModifications" class="page__bouton page__bouton__pleine_largeur">Modifications</button>
        <button id="editionPersonnageEquipement" class="page__bouton page__bouton__pleine_largeur">Équipement</button>
        <button id="editionPersonnageLogiciels" class="page__bouton page__bouton__pleine_largeur">Logiciels</button>
        <button id="editionPersonnageRelations" class="page__bouton page__bouton__pleine_largeur">Relations</button>
        <button id="editionPersonnageTraits" class="page__bouton page__bouton__pleine_largeur">Traits</button>
        <button id="editionPersonnageEvaluation" class="page__bouton page__bouton__pleine_largeur">Evaluation des éléments</button>
        <button id="editionPersonnageIdentite" class="page__bouton page__bouton__pleine_largeur">Identité</button>
        <button id="editionPersonnageDescription" class="page__bouton page__bouton__pleine_largeur">Description</button>
        <button id="editionPersonnageAvatar" class="page__bouton page__bouton__pleine_largeur">Avatar</button>
        <button id="editionPersonnageOpinions" class="page__bouton page__bouton__pleine_largeur">Opinions</button>
        <button id="editionPersonnageMotivation" class="page__bouton page__bouton__pleine_largeur">Motivation</button>
        <button id="editionPersonnageNaissance" class="page__bouton page__bouton__pleine_largeur">Naissance</button>
        <button id="editionPersonnageHistorique" class="page__bouton page__bouton__pleine_largeur">Historique</button>
    </div>
</div>