<div class="page">
    <div class="page__contenu">
        <h1>Création d'un personnage</h1>
        <h2>Les différentes méthodes</h2>
        <p>
            <em>In fine</em>, Solaires propose plusieurs façons de créer votre personnage:
        </p>
        <ul>
            <li>
                Si vous êtes à l'aise avec l'univers du jeu et de ses possibilités, vous pouvez commencer par imaginer et décrire votre personnage.
                Ensuite, vous pouvez utiliser cet outil pour construire sa fiche et compléter les informations que vous auriez oublié.
            </li>
            <li>
                Dans le cas contraire, suivez les étapes unes à unes et faires vos choix à ce moment là, en piochant parmi ce qui vous intéresse.
            </li>
        </ul>
        <p>
            Comme vous le noterez, cet outil ne forcent pas de règle visant à un hypéthétique équilibre.
            Le système de Solaires est conçu pour permettre la création de n'importe quel personnage en se basant sur une idée initiale, une description ou d'autres sources romancées.
        </p>

        <h2>L'équilibrage</h2>
        <p>
            Pour ne pas limiter arbitrairement vos options, cet outil ne force que peu de limite.
            Tous vos personnages devraient être vérifiés par votre meneur (et puis de toutes façons, la console javascript on connait tous !).
        </p>    
        <p>
            Pour rassurer les meneurs et joueurs qui sentiraient perdus, l'équilibrage est assuré par une règle simple :
            un personnage doit pouvoir gérer les rôles choisis au début de la création et ne pas en déborder significativement.
            C'est une règle simple qui ne demande que du bon sens et un peu de fair-play.
        </p>
        
        <h2>Les étapes</h2>
        <p>
            Concernant les étapes de la création d'un personnage :
        </p>
        <ul>
            <li>
                choisir les rôles de votre personnage ;
            </li>
            <li>
                choisir les éléments du personnage (corps, carrières, matériel, relations, etc.) ;
            </li>
            <li>
                evaluer les éléments choisi à partir de règles simples ;
            </li>
            <li>
                composer l'identité du personnage ;
            </li>
            <li>
                décrire le personnage (son physique, son avatar, ses motivations, etc.).
            </li>
        </ul>

        <h2>Instructions</h2>
        <p>
            Vous serez guidé à chaque étape et vous pourrez revenir en arrière à tout moment pour modifier vos choix. N'ayez pas peur d'expérimenter !
        </p>
        <p>
            Dans les listes d'éléments, cliquez sur un élément pour le sélectionner.
        </p>
        <p>
            Cliquez sur les «🔍» pour obtenir plus d'information sur chaque rôle.
        </p>
    </div>
</div>