<div class="page">
    <div class="page__contenu">
        <h1>Motivation</h1>
        <p>
            Les colonies jouissent d'une économie de l'abondance et le travail y est devenu quelque chose de complètement optionnel.
            Quel est la motivation de votre personnage qui le pousse à être actif quand plus de 90% de la population est «&nbsp;oisive&nbsp;» ?
        </p>
        <div id="creationPersonnageMotivation"></div>
        <div class="encart">
            <p>
                Pour vous aider voici quelques exemples de motivation&nbsp;:
            </p>
            <ul>
                <li>
                    Le personnage en veut plus&nbsp;: le traitement de base des colonies ne lui suffit pas et il s’est mis en activité pour bénéficier d’un meilleur traitement.
                    Notez que le traitement de base est déjà particulièrement généreux et que le personnage recherche un train de vie particulièrement riche.
                </li>
                <li>
                    Le personnage veut être actif&nbsp;: il n’arrive pas à se satisfaire d’une vie normale et recherche l’aventure.
                </li>
                <li>
                    Le personnage veut avoir un rôle à jouer&nbsp;: il considère qu’il doit jouer son rôle dans les colonies et ne pas simplement être un spectateur des événements.
                </li>
            </ul>
        </div>
    </div>
</div>