<div class="page">
    <div class="page__contenu">
        <h1>Naissance/Création</h1>
        <p>
            L'histoire de votre personnage commence avec sa naissance, ou sa création.
        </p>
        <h2>Date de naissance/création</h2>
        <p>
            Quand votre personnage est-il né, ou a été créé ?
        </p>
        <div id="creationPersonnageDateNaissance"></div>
        <p>
            Voici quelques dates qui vous seront utiles :
        </p>
        <div id="creationPersonnageContrainteDatesNaissance"></div>        
        <h2>Lieu de naissance/création</h2>
        <p>
            Où votre personnage est-il né, ou a été créé ?
        </p>
        <div id="creationPersonnageLieuNaissance"></div>
        <h2>Détails</h2>
        <p>
            Est-ce que votre personnage est né dans des circonstances particulières ?
            Est-ce que votre personnage a été créé dans un but particulier ?
        </p>
        <div id="creationPersonnageDetailsNaissance"></div>
    </div>
</div>